<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link href="/public/css/app.css" rel="stylesheet" />
    </head>
    <body class="home">
        <div class="container">
            <div class="logged-in-box auth0-box logged-in">
                <img id="user-picture" class="avatar" alt="Profile picture" />
                <h2>Welcome <span id="user-name"></span></h2>
                <button
                    onclick="logout()"
                    class="btn btn-primary btn-lg btn-logout"
                >
                    Logout
                </button>
            </div>
        </div>
    </body>
    <script>
        // Get profile from localStorage
        const profileStr = localStorage.getItem("user_profile");
        if (!profileStr) {
            window.location.href = "/";
        } else {
            console.log(profileStr);
            const profile = JSON.parse(profileStr);
            console.log(profile);
            document.getElementById("user-name").textContent = profile.name;
            document.getElementById("user-picture").src = profile.picture;
        }

        function logout() {
            localStorage.removeItem("access_token");
            localStorage.removeItem("id_token");
            localStorage.removeItem("user_profile");
            window.location.href = "/logout";
        }
    </script>
</html>
